.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.app-title {
  font-size: 36px;
  margin-bottom: 50px;
}

.weight-display {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
}

.weight-value {
  color: #61dafb;
}

.tare-button {
  align-self: center;
}
